In [1]:
#Loading Data

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
import warnings
warnings.filterwarnings("ignore")

# load the train data
train_data = pd.read_csv('train.csv')
train_data.head(10)

  cust_id  loan_amnt  ...  verification_status_2  loan_status
0      A1      20000  ...                      0            1
1      A2       7500  ...                      0            1
2      A3      11200  ...                      0            1
3      A4       6000  ...                      0            1
4      A5      10000  ...                      0            5
5      A6      16000  ...                      0            1
6      A7       3600  ...                      0            1
7      A8      20000  ...                      1            0
8      A9      35000  ...                      0            1
9     A10       8875  ...                      1            1

[10 rows x 81 columns]

In [2]:
len(train_data)

621165

In [3]:
#Dropping the nan values
train_data = train_data.dropna()

In [4]:
len(train_data)

621165

In [5]:
# independent variable
X = train_data.drop(['cust_id','loan_status'],1)
y = train_data[["loan_status"]].copy()

In [6]:
#Standardizing the data
scaler = MinMaxScaler()

#Splitting the dataset
X_train1, X_val, y_train1, y_val = train_test_split(X,y, test_size=0.2, random_state=7,stratify=y)
X_train1 = scaler.fit_transform(X_train1)
X_val = scaler.transform(X_val)

In [7]:
# get dummies on the dependent variable
y_train1 = pd.get_dummies(data = y_train1, columns = y_train1.columns)
y_val = pd.get_dummies(data = y_val, columns = y_val.columns)

In [8]:
y_train1.head()

        loan_status_0  loan_status_1  ...  loan_status_8  loan_status_9
15093               0              1  ...              0              0
428363              0              1  ...              0              0
24115               0              1  ...              0              0
523030              0              1  ...              0              0
331248              1              0  ...              0              0

[5 rows x 10 columns]

In [9]:
#Model Building
#Import Packages
from keras import models
from keras import layers

In [10]:
# sequential model
model = models.Sequential()

# input layer
model.add(layers.Dense(128,input_dim = X_train1.shape[1], activation='relu'))

# hidden layer
model.add(layers.Dense(128, activation='relu'))

# hidden layer
model.add(layers.Dense(64, activation='relu'))

# hidden layer
model.add(layers.Dense(10, activation='softmax'))

# compile the model
model.compile(optimizer = 'adam', loss = 'categorical_crossentropy', metrics = ['accuracy'])
history = model.fit(X_train1, y_train1, batch_size = 64, epochs = 5)

# calculate the accuracy
accuracy = model.evaluate(X_val,y_val)
print(accuracy[1])

Epoch 1/5
7765/7765 [==============================] - 13s 2ms/step - loss: 0.2798 - accuracy: 0.9321
Epoch 2/5
7765/7765 [==============================] - 13s 2ms/step - loss: 0.1629 - accuracy: 0.9610
Epoch 3/5
7765/7765 [==============================] - 12s 2ms/step - loss: 0.1543 - accuracy: 0.9625
Epoch 4/5
7765/7765 [==============================] - 12s 2ms/step - loss: 0.1535 - accuracy: 0.9622
Epoch 5/5
7765/7765 [==============================] - 12s 2ms/step - loss: 0.1504 - accuracy: 0.9632
3883/3883 [==============================] - 3s 836us/step - loss: 0.1523 - accuracy: 0.9622
0.9622000455856323

In [12]:
!pip install optimizers

Requirement already satisfied: optimizers in /usr/local/lib/python3.7/dist-packages (2.1)
Requirement already satisfied: requests>=2.24.0 in /usr/local/lib/python3.7/dist-packages (from optimizers) (2.25.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->optimizers) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->optimizers) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->optimizers) (3.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.24.0->optimizers) (1.24.3)

In [20]:
#Optimizing the model
from keras.optimizers import Adam
from keras.layers import BatchNormalization

opt = Adam(lr=0.0001, decay=1e-6)

# sequential model
model_1 = models.Sequential()

# input layer
model_1.add(layers.Dense(256,input_dim = X_train1.shape[1], activation='relu'))

# hidden layer
model_1.add(layers.Dense(256, activation='relu'))
model_1.add(BatchNormalization())

# hidden layer
model_1.add(layers.Dense(64, activation='relu'))

# hidden layer
model_1.add(layers.Dense(10, activation='softmax'))

# compile the model
model_1.compile(loss='categorical_crossentropy', optimizer=opt, metrics=['accuracy'])
history = model_1.fit(X_train1,y_train1,batch_size=128, epochs= 15, validation_data=(X_val,y_val))

accuracy_1 = model_1.evaluate(X_val,y_val)
print(accuracy_1[1])

Epoch 1/15
3883/3883 [==============================] - 19s 5ms/step - loss: 0.5122 - accuracy: 0.8690 - val_loss: 0.2128 - val_accuracy: 0.9548
Epoch 2/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.2070 - accuracy: 0.9537 - val_loss: 0.1857 - val_accuracy: 0.9577
Epoch 3/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1830 - accuracy: 0.9584 - val_loss: 0.1759 - val_accuracy: 0.9590
Epoch 4/15
3883/3883 [==============================] - 17s 4ms/step - loss: 0.1719 - accuracy: 0.9603 - val_loss: 0.1699 - val_accuracy: 0.9611
Epoch 5/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1642 - accuracy: 0.9617 - val_loss: 0.1619 - val_accuracy: 0.9622
Epoch 6/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1578 - accuracy: 0.9628 - val_loss: 0.1619 - val_accuracy: 0.9618
Epoch 7/15
3883/3883 [==============================] - 17s 5ms/step - loss: 0.1547 - accuracy: 0.9633 - val_loss: 0.1581 - val_accuracy: 0.9622
Epoch 8/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1529 - accuracy: 0.9635 - val_loss: 0.1621 - val_accuracy: 0.9619
Epoch 9/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1516 - accuracy: 0.9638 - val_loss: 0.1561 - val_accuracy: 0.9629
Epoch 10/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1484 - accuracy: 0.9643 - val_loss: 0.1574 - val_accuracy: 0.9626
Epoch 11/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1480 - accuracy: 0.9643 - val_loss: 0.1564 - val_accuracy: 0.9626
Epoch 12/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1447 - accuracy: 0.9652 - val_loss: 0.1541 - val_accuracy: 0.9632
Epoch 13/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1448 - accuracy: 0.9649 - val_loss: 0.1550 - val_accuracy: 0.9630
Epoch 14/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1457 - accuracy: 0.9648 - val_loss: 0.1581 - val_accuracy: 0.9625
Epoch 15/15
3883/3883 [==============================] - 18s 5ms/step - loss: 0.1424 - accuracy: 0.9653 - val_loss: 0.1570 - val_accuracy: 0.9630
3883/3883 [==============================] - 4s 1ms/step - loss: 0.1570 - accuracy: 0.9630
0.9630130529403687

In [24]:
#Predictions on test data

# load the test data
test_data = pd.read_csv('test.csv')
cust_id=test_data['cust_id'].values
test_data.drop('cust_id',1,inplace=True)

# transformation using scaler
test_data = scaler.transform(test_data)

# predictions
pred=pd.DataFrame(model.predict(test_data))

# create the submission file
status=pred.idxmax(1)

status.head(10)

0    5
1    1
2    1
3    5
4    1
5    1
6    5
7    1
8    1
9    1
dtype: int64

In [26]:
submission=pd.DataFrame({'cust_id':cust_id, 'loan_status': status})  
submission.to_csv('Submission.csv',index=False,columns=['cust_id','loan_status'])